.page_navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}
.page_navbar_icon {
  display: flex;
  gap: 66px;
}
.page_navbar_icon i {
  font-size: 24px;
}
.page_navbar img {
  width: 260px;
}
.page_text {
  display: block;
  width: 100%;
  margin: auto;
}
.page_text h1 {
  font-family: Geologica;
  font-weight: 500;
  line-height: 66px;
  color: #000;
  font-size: 60px;
  text-align: center;
}
.page_text p {
  width:500px;
  color: #000;
  margin: auto;
  text-align: center;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.page_slect{
    margin-top: 4% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page_slect select{
    width: 200px;
    
}
